:root {
    --color-primary: #08A6E4;
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --font-raleway: "Raleway", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
}
* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-open-sans);
}

.header--logo-nav {
    width: 100%;
    background-color: var(--color-white);
    display: flex;
    justify-content: center;
    box-shadow: 0 3px 6px #00000029;
}
.container {
    display: flex;
    width: 1352px;
    height: 70px;
    background-color: var(--color-white);
    justify-content: space-between;
    align-items: center;
}
ul {
    display: flex;
    width: 500px;
    justify-content: space-between;
    text-align: center;
    flex-wrap: nowrap;
    text-transform: uppercase;
}
.logo {
    display: flex;
    align-items: center;
    width: 142px;
    height: 37px;
    color: var(--color-primary);
    font-size: 2rem;
    font-family: var(--font-raleway);
}

a {
    text-decoration: none;
    color: var(--color-grey);

}

li {
    width: 100px;
    font-size: 11px;
}
a:hover {
    color: var(--color-black);
    text-decoration: underline; color: var(--color-black);
}
/* Navigation Complete */

.section-main {
    padding-top: calc(200px - 70px);
    width: 100%;
    height: 712px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-main {
    background-image: url("../assets/Background.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 594px;
    background-position: center;
}
.signature--h1 {
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 16px;
}
.section-main--button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: var(--color-white);
}
.container--h1 {
    width: 1735px;
    display: flex;
    justify-content: center;
    font-size: 49px;
    font-family: var(--font-raleway);
    color: var(--color-black);
    padding-bottom: 20px;
}
.background--button-main {
    width: 440px;
    height: 67px;
    background-color: var(--color-primary);
    border-radius: 40px;
    display: flex;
    box-shadow: 5px 10px 14px #07ACE629;
}
.container--for-buttonmain {
    width: 100%;
    height: 67px;
    display: flex;
    justify-content: center;
    padding-top: 38px;
}

/* Complete Header */

.The-most-popular-sales--all-container {
    width: 100%;
    height: 531px;
    background-color: var(--color-white);
    box-shadow: 0px -5px 80px #00000029;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title-popular-sales {
    width: 1735px;
    height: 242px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-raleway);
    font-size: 36px;
    color: var(--color-black);
}
.statistics {
    width: 1735px;
    height: 289px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.number-statisticks {
    font-family: var(--font-raleway);
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 5.96px;
}
.daily-entries {
    width: 116px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.seen-products-every-day {
    width: 176px;
    height: 167px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 185px;
    padding-right: 183px;
}
.added-posts-daily {
    width: 163px;
    height: 168px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.paragraph-staticticks {
    font-family: var(--font-raleway);
    font-size: 16px;
    color: var(--color-grey);
    text-align: center;
    justify-content: flex-end;
    width: 125px;
}
.circle-left {
    width: 62.71px;
    height: 62.71px;
    border-radius: 50%;
    background-color: var(--color-redish);
    margin-left: 21.73px;
}
.circle-center {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    background-color: var(--color-primary);
}
.circle-right {
    width: 62.71px;
    height: 62.71px;
    border-radius: 50%;
    background-color: var(--color-green);
    display: flex;
}
.eye {
    margin-left: 20px;
    margin-top: 15px;
}
.person {
    margin-left: 27px;
}
.catalog {
    margin-left: 30px;
}
/* Section Complete */

.benefits {
    width: 100%;
    height: 1395px;
    background-color: var(--color-light-grey);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
}
.first-benefit {
    width: 1124px;
    height: 370px;
    background-color: var(--color-white);
    border-radius: 5px;
    border: 1px solid #E8E9ED;
    margin-right: 50px;
    display: flex;
    align-items: center;
}
.secondary-benefit {
    width: 1124px;
    height: 370px;
    background-color: var(--color-white);
    border-radius: 5px;
    border: 1px solid #E8E9ED;
    margin-right: 50px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.last-benefit {
    width: 623px;
    height: 370px;
    border-radius: 5px;
    background-color: var(--color-white);
    border: 1px solid #E8E9ED;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-last-benefit {
    width: 440px;
    height: 370px;
    border-radius: 5px;
    border: 1px solid #E8E9ED;
    background-color: var(--color-green);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.last-benefit-and-img-container {
    width: 1124px;
    height: 370px;
    display: flex;
    margin-right: 50px;
    justify-content: space-between;
}
.title-and-describtion-first-benefit {
    width: 416px;
    height: 188px;
    display: flex;
    flex-direction: column;
    padding-left: 36px;
    justify-content: space-between;
}
.benefit-title {
    font-size: 36px;
    font-family: var(--font-raleway);
    line-height: 42px;
}
.describtion-first-benefit {
    font-size: 16px;
    padding-bottom: 50px;
    line-height: 22px;
    border-bottom: 5px solid var(--color-redish);
}
.square-and-macbook {
    width: 433px;
    height: 294px;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 71px;
    margin-top: 38px;
}
.square {
    width: 180px;
    height: 180px;
    rotate: 45deg;
    background-color: var(--color-redish);
    display: flex;
    position: absolute;
    z-index: 1;
    border-radius: 41px;
}
.macbook {
    width: 386px;
    height: 219px;
    display: flex;
    margin-top: 50px;
    z-index: 2;
}

.title-and-describtion-secondary-benefit {
    width: 416px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container-title {
    width: 246px;
    height: 84px;
}
.describtion-secondary-benefit {
    font-size: 16px;
    padding-bottom: 50px;
    line-height: 22px;
    border-bottom: 5px solid var(--color-primary);
}
.circle-and-iPhone {
    width: 426px;
    height: 328px;
    display: flex;
    margin-top: 29px;
    margin-left: 70px;
}
.circle {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    background-color: var(--color-primary);
    display: flex;
    z-index: 1;
    position: absolute;
}
.iPhone {
    width: 426px;
    height: 328px;
    display: flex;
    z-index: 2;
}

.title-and-describtion-last-benefit {
    width: 554px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.title-container-last {
    width: 348px;
    height: 84px;
}
.describtion-last-benefit {
    font-size: 16px;
    padding-bottom: 50px;
    line-height: 22px;
    border-bottom: 5px solid var(--color-green);
}
.trumpet {
    width: 295px;
    height: 207px;
    z-index: 2;
    margin-top: 98px;
    margin-right: 72px;
}

.container-for-offers {
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
}
.offers {
    width: 1266px;
    height: 616px;
}
.tittle-offers {
    font-family: var(--color-black);
    font-size: 36px;
}
.tittle-container {
    width: 1266px;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.basic-offer {
    width: 372px;
    height: 461px;
    border: 1px solid var(--color-redish);
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    margin-top: 65px;
}
.professional-offer {
    width: 405px;
    height: 500px;
    border: 1px solid var(--color-primary);
    border-radius: 18px;
    box-shadow: 5px 10px 27px var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.premium-offer {
    width: 372px;
    height: 461px;
    border: 1px solid var(--color-redish);
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 65px;
}
.list-offers {
    width: 100%;
    height: 175px;
}
.basic {
    font-family: var(--font-raleway);
    font-size: 20px;
    padding-top: 34px;
    padding-bottom: 14px;
    font-weight: bold;
}
.price-basic {
    font-size: 46px;
    color: var(--color-redish);
}
.list-in-basic {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 69px;
}
ul li {
    width: 100%;
}
.pricing-item {
    font-size: 14px;
}
.pricing-item::before {
    content: "";
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-right: 10px;
    background-image: url("../assets/Ckechmark-1.svg");
}
.pricing-item-not::before {
    background-image: url("../assets/Close.svg");
}
.basic-offer .btn {
    position: relative;
    bottom: -50px;
    font-size: 0.8125rem;
    background-color: var(--color-redish);
    width: 150px;
    height: 50px;
    border-radius: 23px;
    display: flex;
    justify-content: center;
}
.basic-offer {
    display: flex;
    align-items: center;
}
.btn {
    color: var(--color-white);
    display: flex;
    align-items: center;
}
.professional {
    font-family: var(--font-raleway);
    font-size: 21px;
    padding-top: 34px;
    padding-bottom: 14px;
    font-weight: bold;
}
.price-professional {
    font-size: 46px;
    color: var(--color-primary);
}
.list-in-professional {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 69px;
}
.professional-offer .btn-primary {
    position: relative;
    bottom: -60px;
    font-size: 0.8125rem;
    background-color: var(--color-primary);
    width: 165px;
    height: 50px;
    border-radius: 23px;
    display: flex;
    justify-content: center;
    box-shadow: 5px 10px 14px #07ACE629;
}
.btn-primary {
    color: var(--color-white);
    display: flex;
    align-items: center;
}
.list-in-premium {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 69px;
}
.premium {
    font-family: var(--font-raleway);
    font-size: 20px;
    padding-top: 34px;
    padding-bottom: 14px;
    font-weight: bold;
}
.premium-offer .btn {
    position: relative;
    bottom: -50px;
    font-size: 0.8125rem;
    background-color: var(--color-redish);
    width: 150px;
    height: 50px;
    border-radius: 23px;
    display: flex;
    justify-content: center;
}
/*Complete prices*/

.form-container-all {
    width: 100%;
    height: 376px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-container {
    width: 896px;
    height: 376px;
    display: flex;
}
.form-tittle {
    font-size: 49px;
    font-family: var(--font-raleway);
    line-height: 57px;
}
.signature-tittle {
    font-size: 16px;
    padding-top: 22px;
}
.email {
    font-weight: bold;
    color: var(--color-grey);
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.number {
    font-weight: bold;
    color: var(--color-grey);
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.additional-information-form {
    padding-top: 42px;
    display: flex;

}
.email::before {
    content: "";
    width: 25px;
    height: 25px;
    display: inline-block;
    padding-right: 10px;
    background-repeat: no-repeat;
    background-image: url("../assets/Mail Icon.svg");
}
.number::before {
    content: "";
    width: 25px;
    height: 25px;
    display: inline-block;
    padding-right: 10px;
    background-repeat: no-repeat;
    background-image: url("../assets/Phone Icon.svg");
}
.form-info {
    width: 400px;
    height: 100%;
}
.form {
    display: flex;
    flex-direction: column;
}

.form__field {
    display: flex;
    flex-direction: column;
}

.form__field:first-of-type {
    margin-bottom: 42px;
}

.form__label {
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color-primary);
    line-height: 0.9rem;
    letter-spacing: 3px;
    font-size: 0.6875rem;
}

.form__input {
    border: none;
    border-bottom: 1px solid var(--color-grey);
    background-color: transparent;
    line-height: 2.625rem;
}
.form__consent {
    margin-top: 30px;
}

.form__checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1.375rem;
}

.form__checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.form__checkbox .checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: var(--color-white);
    border: 1px solid var(--color-grey);
    border-radius: 4px;
}

.form__checkbox input:checked ~ .checkbox {
    background-image: url(../assets/Checkmark.svg);
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
}
.form__checkbox .consent__text {
    margin: 0 10px;
    font-size: 0.75rem;
    color: var(--color-grey);
    line-height: 17px;
}

.form .btn {
    font-size: 0.8125rem;
    padding: 20px 97px;
    align-self: flex-end;
    margin-top: 20px;
}
.contact__column {
    width: 440px;
}
.btn-btn--primary {
    width: 226px;
    height: 57px;
    border-radius: 35px;
    height: 57px;
    background-color: var(--color-primary);
    color: var(--color-white);
    border: none;
    margin-left: 213px;
}

/*Start Footer*/

.footer-container {
    width: 100%;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px -5px 40px #00000029;
    margin-top: 60px;
}
.left-side {
    display: flex;
    flex-direction: column;
    margin-left: 140px;
}
.logo-footer {
    font-family: var(--font-raleway);
    font-size: 32px;
    line-height: 30px;
    color: var(--color-primary);
    padding-bottom: 10px;
}
.info {
    font-size: 16px;
    color: var(--color-grey);
}
.icons {
    display: flex;
    margin-right: 140px;
    width: 100px;
    justify-content: space-between;
}
.twitter {
    width: 35px;
    height: 35px;
}
.facebook {
    width: 35px;
    height: 35px;
}